#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  a(rel='nofollow', target='_blank', href='https://github.com/828768/maupassant-hexo')  Custom
  |  by
  a(rel='nofollow', target='_blank', href='http://sobaigu.com')  凹凸曼达人.
